<h1>Aliases#index</h1>
<p>Find me in app/views/aliases/index.html.erb</p>



<ul>
  <% @aliases.each do |a| %>
    <div style="border: 1px solid black; margin: 1rem; padding: 1.5rem;">
      <h4><%= a.name %></h4>
      <p><%= a.description %></p>

      <p>
        <%= a.code %>
      </p>

    </div>
  <% end %>
</ul>